/* Your styles here */

body {
    font-family: 'Monospace';
    background-color: #5eab58;
}

h1 {
    color: #722424;
}

p1 {
    color: #000000;
}

p3 {
    color: #600606
}

ul {
    color: #007e61;

}

ol {
    color: #007e61
}
